$font-stack: "Roboto", sans-serif;
$primary-color: #333;
$white: #ffffff;
$darken: rgba(0, 0, 0, 0.227);

* {
  box-sizing: border-box;
  font-family: $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

.header {
  padding-left: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 72px;
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h4 {
    color: $white;
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    li {
      list-style: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        height: 100%;
        text-decoration: none;
        color: $white;
        list-style: none;
        padding: 20px 30px;
        display: flex;
        align-items: center;
      }
      a:hover {
        background: #666;
        border-bottom: 5px solid $white;
      }
    }
  }
  z-index: 10000;
}

.Showcase {
  position: relative;
  background: url("../img/boy-backdrop.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  .showcase-text {
    z-index: 1;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h1 {
      display: block;
      color: $white;
      font-size: 8rem;
      font-weight: 400;
      @media (max-width: 500px) {
        font-size: 3rem;
      }
    }
    h2 {
      display: block;
      color: $white;
      font-size: 3rem;
      font-weight: 400;
      @media (max-width: 500px) {
        font-size: 3rem;
      }
    }
  }
  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $darken;
    z-index: -10;
  }
}

.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  > h2 {
    font-size: 4rem;
    background: $primary-color;
    color: $white;
    padding: 2rem;
    width: 100%;
    text-align: center;
  }
}

body {
  width: 100%;
}

.paragraph {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  line-height: 3.5rem;
  text-align: center;
  text-justify: inter-word;
}

.typewriter {
  background: url("../img/typewriter.jpg") no-repeat center center/cover;
  height: 600px;
  position: relative;
  z-index: 1;
  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $darken;
    z-index: -10;
  }
}

.typewriter .paragraph {
  width: 55%;
  text-align: justify;
  color: $white;
}
.typewriter .paragraph .header {
  font-size: 3rem;
}
